<div
  class="bg-pattern p-4 min-h-screen flex items-center justify-center flex-col"
>
  <div class="container mx-auto max-w-7xl">
    <!-- Barra de filtros de navegacion -->
    <app-search-filter-bar></app-search-filter-bar>

    <!-- tarjetas de los pokemones -->
    <app-pokemon-card [pokemons]="pokemons" (cardClicked)="openModal($event)">
    </app-pokemon-card>

    <!-- botton para mostrar mas pokemones -->

    <div
      (click)="showMorePokemons()"
      class="flex justify-center items-center gap-2 my-8 hover:cursor-pointer hover:text-blue-600 transition-colors duration-300"
    >
      <p class="cursor-pointer">Mostrar mas</p>
    </div>

    <!-- Modal de detalles de los pokemones -->

    <app-pokemon-details-modal
      [pokemon]="selectedPokemon"
      [pokemonDetails]="selectedPokemonDetails"
      [isModalOpen]="isModalOpen"
      (closeModal)="closeModal()"
    >
    </app-pokemon-details-modal>
  
</div>

</div>
