<header class="w-full h-[6rem] bg-red-500 flex flex-row flex-wrap items-center justify-between px-6 "> 
    <div class="flex items-center justify-center h-full">
        <div>
            <img src="logo.png" alt="Logo" class="size-18 rounded-full border-1 border-white shadow-lg">
        </div>
        <h1 class="text-3xl text-white font-bold ml-1">{{title}}</h1>
    </div>
    <nav class="flex justify-center mt-3">
        <a routerLink="/home" routerLinkActive="" class="text-[.8rem] text-white mx-4 hover:underline hover:cursor-pointer">Inicio</a>
        <a routerLink="/pokemons" routerLinkActive="" class="text-[.8rem] text-white mx-4 hover:underline hover:cursor-pointer">Pokemones</a>
        <a routerLink="/about" routerLinkActive="" class="text-[.8rem] text-white mx-4 hover:underline hover:cursor-pointer">Acerca de mi</a>
    </nav>
</header>